<img src=<%=@anime.image_url%> alt="Anime Image" width="150" height="150" style="vertical-align:middle"> <br>
<br>Title: <%=@anime.title%><br>
<br>Synopsis:<%=@anime.synopsis%><br>
<a href<%=@anime.url%>>Mal Link</a><br>

<form action="/animes/<%=@anime.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="user_notes">
  <input type="submit" value="submit">
</form>

<form action="/animes/<%= @anime.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>